[package]
name = "rust-dsp"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
js-sys = "0.3"
web-sys = "0.3"

[dependencies.wasm-bindgen-futures]
version = "0.4"

[profile.release]
opt-level = "z"
lto = true

